.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 5px; 
    min-width: 300px;
    min-height: 550px;
    background: rgba(241, 245, 243, 0.952);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    transition: all .3s ease;
}
.img{
    display: flex;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
}

.link{
    text-decoration: none;
    color: #000;
}

.title{
    text-align: center;
    width: 250px;
    margin: auto;
    margin-bottom: 17px;
}

.text{
    margin-top: 10px;
    text-decoration: none;
}

.container:hover{
    background: rgb(197, 194, 245);
    
}
.g{
    display: block;
    font-size: smaller;
}
.info{
    display: flex;
    justify-content: center;
    gap:20px;
}
.rating{
    display: flex;
    flex-direction: column;
}

.genreslist{
    margin-top: 0;
    padding-top: 0;

}