.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

} 

.link{
    box-sizing: content-box;
    width: 500px;
}
   

body {
    
    background-image: url('https://i.pinimg.com/564x/cd/73/ee/cd73ee52313e6c366491b9988c28534b.jpg');
    font-family: 'Press Start 2P', cursive;

          
}  

 .button{
    width: 500px;
    height: 150px;
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    
    

} 
.button:hover{
    background-color:rgb(31, 131, 27);
    color: azure;
    border:rgb(31, 131, 27);;
}